@mixin set-2_setPhoto__Photo {
  background-color: #222;
  width: calc(#{$index}*4);
  height: calc(#{$index}*12);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 1.25s $transition, filter 3s $transition, width 1.25s $transition;
  will-change: transform, filter;
  filter: grayscale(1) brightness(.5);
}

@mixin streak_for_set-2{
    &::before, &::after{
      content: "";
      position: absolute;
      width:30px;
      height: 100%;
      right: calc(#{$index}*-1);
    }
    &::after{
      left: calc(#{$index}*-1); 
    }
  }

  @mixin transform( $index_1, $rotateY, $z_index){
    transform: translateZ(calc(#{$index} * #{$index_1})) rotateY($rotateY);
    filter: inherit;
    z-index: $z_index;
  }

@mixin set-2_lef_cards{
    &:has(+ :hover){
      @include transform(8.5, -35deg, 0);
    }
    &:has(+ * + :hover){
      @include transform(5.6, -40deg, 0);
    }
    &:has(+ * + * + :hover){
      @include transform(2.4, -30deg, 0);
    }
    &:has(+ * + * + * + :hover){
      @include transform(.6, -14deg, 0);
    }
}

@mixin set-2_right_cards{
    &:hover + *{
    @include transform(8.5, 35deg,-1);
    }
    &:hover + * + *{
    @include transform(5.6, 40deg,-2);
    }
    &:hover + * + * + *{
      @include transform(2.4, 30deg, -3);
    }
    &:hover + * + * + * + *{
      @include transform(.6, 14deg, -4);
    }
}