@mixin item {
  .setPhoto__Photo{
  background-color: #222;
  width: calc(#{$index}*4);
  height: calc(#{$index}*12);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  @content;
  }
}

@mixin streak_for_set-2{
    &::before, &::after{
      content: "";
      position: absolute;
      width:30px;
      height: 100%;
      right: calc(#{$index}*-1);
      @content;
    }
  }

  @mixin transform( $index_1, $rotateY, $z_index){
    transform: translateZ(calc(#{$index} * #{$index_1})) rotateY($rotateY);
    filter: inherit;
    z-index: $z_index;
  }
