@import "var_func";
@import "mixin";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #141414;
}
main{
  height: 95vh;
}
h3{
  text-align: left;
  font-family: monospace;
  font-size: 1.4rem;
  font-weight: normal;
  color: white;
  padding-top: 1rem;
  padding-left: 5rem;
  margin-bottom: 1.5rem;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  }

.setPhoto{
  display: flex;
  width: 70%;
  height: 80%;
  gap: .4rem;
  perspective: calc($index * 35);
}

.set-1{
  height: calc(#{$index}*15);
  .setPhoto__Photo{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
    flex: 1;
    cursor: pointer;
    @include streak_for_set-2;
    &:hover{
      flex: 10;
    }
  }
}
.set-2{
  .setPhoto__Photo{
    @include set-2_setPhoto__Photo;
    @include streak_for_set-2;
      
    &:hover{
    @include transform(10, 0, 0);
    }

    @include set-2_lef_cards;
    @include set-2_right_cards;

    &:active, &:focus{
      width: 20vw;
      @include transform(10, 0, 100);
      margin: 0 .45vh;
      }
  }
}

